<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Generator</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Password Generator</h1>
    <form action="/generate" method="post">
        <label for="length">Password Length:</label>
        <input type="number" id="length" name="length" required min="1">
        <button type="submit">Generate</button>
    </form>

    <div th:if="${password}">
        <h2>Generated Password:</h2>
        <p th:text="${password}"></p>
    </div>
</div>
</body>
</html>
